@charset "UFT=8";
*{
    margin: 0px;
    padding: 0px;
}
body, html{
    width: 100vw;
    height: 100vh;
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #eeeeee;
}